$altColor: #e2dcd5;
.navigation {
    position: fixed;
    top:0;
    width: 100%;
    background-color: $altColor;
    z-index: 100;
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding:0 10px;
            margin-bottom: 8px;
        a {
                $navColor: #333;
                color: $navColor;
                text-decoration: none;
                padding:10px 0;
                padding-bottom: 2px;
                border-bottom: 2px solid #ae2a2f;
                transition: ease all .3s;
                &:hover {
                    $darker: darken(#ae2a2f, 20%);
                    color: $darker;
                    padding-bottom:5px;
                    border-bottom: 2px solid $darker;
                }
            }
        }
    }
}
h3 {
    margin-right: 28px;
    &:before {
        width: 30px;
        height: 3px;
        background-color: #ae2a2f;
        content: '';
        position: relative;
        display: inline-block;
        bottom: -12px;
        right: -30px;
    }
}
.hero {
    background-color:$altColor;
    margin:0;
    display: flex;
    align-items: center;
    min-height: 65vh;
    h1 {
        margin: 0 auto;
        img {
            height:400px;
        }
    }
}
section {
    min-height: 100vh;
    position: relative;
}
footer {
    width:100%;
    text-align:right;
    padding:20px 0;
    background-color: $altColor;
    position: relative;
    bottom: 0;
    div {
        margin-right: 75px;
        color: lighten(#333, 15%);
    }
}
.more {
    width: 100%;
    align-self: flex-end;
    position: absolute;
    text-align: center;
    // padding-bottom: 15px;
    svg {
        padding-bottom: 15px;
    }
}
