.home {
    max-width: 100vw;
    overflow: hidden;
    color: #333;
    .bandContainer {
        overflow: hidden;
        .band {
            background-color: #e2dcd5;
            width:100vw;
            transform: rotate(2deg);
            h3 {
                width: 53%;
                text-align: right;
            }
            &:nth-of-type(odd){
                background-color: white;
                h3{
                    text-align: left;
                }
                .innerBand {
                    flex-direction: row-reverse;
                    .bandBody{
                        margin-left: auto;
                    }
                }
            }
            .innerBand {
                display: flex;
                flex-direction: row;
                flex-grow: 1;
                flex-wrap: wrap;

                justify-content: space-between;
                align-items: center;

                transform: rotate(-2deg);

                text-align: justify;
                min-height: 25vh;
                padding:35px 75px;
                .bkgImage {
                    height:25vh;
                    width: 45%;
                }
                .bandBody{
                    width: 53%;
                    line-height: 1.75;
                }
            }
        }
    }
    @media only screen and(max-width: 500px) {
        .bandContainer .band {
            transform:none;
            .innerBand {
                transform:none;
                text-align: left;
                h3 {
                    width: 100%;
                    z-index: 2;
                }
                .bandBody{
                    width: 100%;
                    z-index: 3;
                }
                .bkgImage{
                    width: 80%;
                    position: absolute;
                    z-index: 1;
                    .innerImage{
                        width: 100%;
                        height:100%;
                        background-color:rgba(255,255,255,0.3);
                    }
                }
            }
        }
    }
}
